
.output {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    > .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    @media (max-width: 1365px) {
        > .container {
            max-width: 90%;
        }
    }
}